<!-- <h1>Hi, <%= session[:name] %>.</h1>

<p>Want to know a secret? Click below.</p>

<%= form_tag ({controller: 'secrets', action: 'show', method: 'get'}) do %>
  <input type=submit value='secret'>
<% end %> -->
